<% include ../layouts/header.ejs %>
    <div class="container">
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="row">
    			<div class="col-sm-12">
      				<div class="page-header">
        				<h1>A propos de nous</h1>
              </div>
      				<div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="/img/echange.jpeg" style="width: 120px; height: 120px;", class="img-responsive"/>
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Echange de service</h4>
                  <p> InTouch est une plateforme sociale collaborative qui permet de tisser des nouveaux liens : tout utilisateur peut trouver à portée de main des services et des activités.</p>
                </div>
              </div>
      <div class="media text-right">
        <a class="pull-right" href="#">
          <img class="media-object img-circle img-responsive" src="/img/monnaie.jpeg" style="width: 120px; height: 120px;" />
        </a>
      
        <div class="media-body">
          <h4 class="media-heading"> Monnaie alternative</h4>
          <p> InTouch donne la possibilité d'échanger des services sans argent. Chaque utilisateurs vont disposer d'un portefeuille interne de monnaie alternative au service du lien social.</p>
      </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-rounded img-responsive" src="/img/reput.jpeg" style="width: 120px; height: 120px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"> Système de réputation</h4>
          <p> InTouch insère un système de réputations qui permet d'évaluer la qualité des services des utilisateurs, ainsi que son niveau de civilité et de gentillesse.</p>

  		</div>
	</div>
</div>
</div>
</div>
</div>

<% include ../layouts/footer.ejs %>