<!DOCTYPE html>
<html>
  <head>
    <title>Simple App du Tutoriel Ruby on Rails | <%= @titre %></title>
  </head>
  <body>
    <h1>À Propos de nous</h1>
    <p>
      L'association a pour dénomination sociale la Coopérative Indigo en référence au fonctionnement participatif qu'elle veut promouvoir. L'indigo est la couleur résultant du mélange des extrémités du drapeau français.
    </p>
  </body>
</html>