 <div class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="/about">A propos</a></li>
	    	<li><a href="/contact">Contact</a></li>
	      	<li><a href="http://www.eloquentia-indigo.fr/">News</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div><!-- /.navbar -->


