<% include ../layouts/header.ejs %>
    <div class="container">
		<div class="row row-offcanvas row-offcanvas-right">

			<div class="row">
				<h1>À Propos de nous</h1>
			</div>
  		</div>
	</div>

<% include ../layouts/footer.ejs %>