<% include ../layouts/header.ejs %>
  	<div class="row">
  		<div class="col-xs-6">
  			<div class="btn-group btn-group-justified">
			  <div class="btn-group">
			    <button type="button" class="btn btn-primary">Créez un événement</button>
			  </div>
			</div>
			<ul class="users">
    	 		
      		</ul>
  		</div>
  		<div class="col-xs-6">
  			<div class="btn-group btn-group-justified">
  			  	<div class="btn-group">
    				<button type="button" class="btn btn-primary">Liste des événements</button>
  				</div>
  			</div>
  		</div>
  	</div>	
<% include ../layouts/footer.ejs %>