<% include ../layouts/header.ejs %>
    <div class="container">
    	<div class="row row-offcanvas row-offcanvas-right">
			<div class="row">
  				<div class="col-xs-6">VIDEO</div>
  				<div class="col-xs-6 jumbotron">
    				<p>Digo est le moyen de renouer, à l'ère numérique, avec les valeurs de partage et de solidarité qui tendent à disparaître en ces temps de crise générale</p>
    				<p style="text-align:center">
    					<a role="button" class="signup_button round btn btn-lg" href="/pages/event" >Participez !</a>
    				</p>
				</div>
			</div>
  		</div>
	</div>
<% include ../layouts/footer.ejs %>